.hm {
  height: 42vh;
}

.hf {
  height: 60vh;
}

.equal {
  flex: 0 1 auto;
}

ng-select {
  ::ng-deep {
    .ng-select-container,
    .ng-option,
    .custom {
      background: #00000033;
      border: rgb(156 163 175 / 0.2);
    }
  }
}
