<div class="container">
  <ng-select
    required="true"
    name="cities"
    [items]="cities$ | async"
    [trackByFn]="trackByFn"
    [loading]="citiesLoading"
    typeToSearchText="Please type characters to search"
    [typeahead]="citiesInput$"
    placeholder="Select your city"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="city"
    (ngModelChange)="selectedCity($event)"
    #select
    class="custom"
    (close)="select.blur(); select.focus()"
  >
    <ng-template ng-label-tmp let-item="item">
      <p class="text-md font-semibold text-gray-400">
        {{ item.name }}
        <span class="text-sm font-medium text-gray-500"
          >({{ item.contId | enumFormatter }})</span
        >
      </p>
    </ng-template>

    <ng-template ng-option-tmp let-item="item">
      <p class="text-md font-semibold text-gray-900">
        {{ item.name }}
        <span class="text-sm font-medium text-gray-800"
          >({{ item.contId | enumFormatter }})</span
        >
      </p>
    </ng-template>
  </ng-select>
</div>

<div class="mt-5" *ngIf="trips">
  <p class="text-md font-bold text-gray-400 mb-2">Recommended Shortest Route</p>
  <ng-container *ngFor="let item of trips; let i = index; last as l">
    <span
      class="font-bold text-sm text-gray-500 cursor-pointer hover:scale-105 hover:text-indigo-500"
      (click)="selected(item)"
      >{{ item.id }}</span
    >
    <span *ngIf="!l" class="font-bold text-sm text-gray-500"> → </span>
  </ng-container>
  <p class="text-sm font-normal text-gray-500 mt-2">
    These are the connected routes you can follow to travel the shortest
    distance to cover each continent.
  </p>
  <div class="hm 2xl:hf overflow-y-auto mt-2">
    <ng-container *ngFor="let item of trips; let i = index; last as l">
      <div
        class="bg-gray-900 p-4 shadow-sm mt-5 rounded-lg text-gray-400"
        *ngIf="!l"
      >
        <div class="flex items-center justify-between">
          <div
            (click)="selected(item)"
            class="cursor-pointer hover:scale-105 hover:text-indigo-500"
          >
            <p class="text-md font-semibold hover:text-indigo-500">
              {{ item.name }}
            </p>
            <small class="text-sm font-medium text-gray-500">
              {{ item.id }} {{ item.contId | enumFormatter }}
            </small>
          </div>

          <img
            class="h-5"
            src="http://www.freeiconspng.com/uploads/description-white-plane-icon-2-27.png"
            alt=""
          />

          <div
            (click)="selected(trips[i + 1])"
            class="cursor-pointer hover:scale-105 hover:text-indigo-500"
          >
            <p class="text-md font-semibold hover:text-indigo-500">
              {{ trips[i + 1].name }}
            </p>
            <small class="text-sm font-medium text-gray-500">
              {{ trips[i + 1].id }},
              {{ trips[i + 1].contId | enumFormatter }}</small
            >
          </div>
        </div>
        <div class="mt-4 font-semibold text-xs text-indigo-500">
          {{ trips[i + 1].distance | number: '1.2-2' }} KM
        </div>
      </div>
    </ng-container>
  </div>
</div>
