<div>
  <div
    class="absolute z-50 h-screen bg-white p-8 w-2/6 bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 border border-gray-200"
  >
    <p
      class="text-4xl font-bold font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 mb-8"
    >
      Trip Planner
    </p>
    <trip-planner-search
      (emitSelectedCity)="selectedCity($event)"
    ></trip-planner-search>
  </div>
  <div class="z-10">
    <trip-planner-map
      [lat]="lat"
      [lng]="lng"
      [selectedCity]="city"
    ></trip-planner-map>
  </div>
</div>
